html
  head
    title  Form 
    block scripts
    block style
    
       
  body
    nav#navbar 
        ul 
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/contact") Register] 
    block content


