extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
        include ../static/style.css

block content
   
      
    section#intro 
        div Welcome
        div.small For registration click on 'Register'